* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    /* Disable text selaction */
    user-select: none
}


/* ------------------- INFO FIRST OPTION ----------------------------- */
.apartment-info .web{
    display: none;
}

.apartment-info-section {
    border-bottom: 2.5px solid #929292;
    max-height: 40px;
    transition: max-height 0.3s ease-in-out;
    padding: 0.2rem;
    margin-bottom: 0.7rem;
    overflow: hidden;
}

.apartment-info {
    border: 5px solid #929292;
    border-radius: 15px;
    padding: 0.5rem 1rem;
    margin: 2rem auto;
    padding: 1rem 2rem 0;
    max-width: 450px;
}

.apartment-info-section .info-title:hover {
    cursor: pointer;
}

.showSection {
    max-height: 1000px;
}

.rm-bottom {
    border-bottom: none;
}

.info-title {
    font-size: 1.1rem;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #929292;
    font-weight: 600;
}

.info-title i {
    margin-right: 10px;
}

.active {
    color: black;
}

.info-description {
    line-height: 1.5;
    margin-bottom: 0.5rem;
    letter-spacing: 0.04rem;
    word-spacing: 0.05rem;
    color: #242424;
}


/* ------------------- INFO SECOND OPTION ----------------------------- */

.amenities-options-container {
    display: grid;
    grid-template-columns: auto auto;
}

.amenities-option {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #000000;
    margin: 1rem 0;
}

.amenities-option i {
    font-size: 2rem;
}

.amenities-option .option-title {
    font-size: 1.2rem;
    text-transform: capitalize;
    letter-spacing: 0.05rem;
    font-weight: 700;
}


/* --------------------- INFO THIRD OPTION -------------------------------- */
.rera-number{
    margin-top: 1rem;
    display: flex;
    align-items: center;
}

.rera-number i{
    margin-right: 1rem;
    color: gray;
    font-size: 1.5rem;
}